@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_regular.woff2") format("woff2"), url("../fonts/pt-root-ui_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_medium.woff2") format("woff2"), url("../fonts/pt-root-ui_medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "PT Root UI";
  src: url("../fonts/pt-root-ui_bold.woff2") format("woff2"), url("../fonts/pt-root-ui_bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html {
  font-size: 16px;
  font-family: "PT Root UI", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "PT Root UI", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.h2 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  color: #2a2a2a;
}
@media (max-width: 1400px) {
  .h2 {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .h2 {
    font-size: 32px;
  }
}
@media (max-width: 768px) {
  .h2 {
    font-size: 48px;
  }
}
@media (max-width: 576px) {
  .h2 {
    font-size: 20px;
  }
}

.t-26 {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: #2a2a2a;
}
@media (max-width: 1400px) {
  .t-26 {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .t-26 {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .t-26 {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .t-26 {
    font-size: 16px;
  }
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}
@media (max-width: 576px) {
  .container {
    padding: 0 16px;
  }
}

.button {
  padding: 20px 40px;
  font-weight: 500;
  font-size: 26px;
  line-height: 130%;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 15px;
  background: linear-gradient(90deg, #31d3bc 0%, #28d6dd 49.5%, #3cb2d0 100%);
  transition-property: filter, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .button {
    font-size: 22px;
  }
}
@media (max-width: 992px) {
  .button {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 26px;
  }
}
@media (max-width: 576px) {
  .button {
    padding: 16px 32px;
    font-size: 16px;
  }
}
.button:hover {
  filter: brightness(1.1);
}
.button:active {
  transform: scale(0.98);
}
.button_light {
  color: #2a2a2a;
  background: linear-gradient(90deg, #dbf7f3 0%, #d8f7f9 50%, #c6e9f1 100%);
}

.header {
  position: relative;
  padding: 20px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: #ffffff;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 64px;
}
@media (max-width: 992px) {
  .header .container {
    gap: 24px;
  }
}
.header .container > * {
  position: relative;
  z-index: 2;
}
.header__logo {
  flex: 0 0 auto;
}
.header__logo-link {
  display: block;
}
.header__logo-image {
  display: block;
  max-width: 100%;
  height: auto;
}
.header__menu {
  position: relative;
  z-index: 2;
  flex: 1 1 auto;
}
@media (max-width: 840px) {
  .header__menu {
    position: absolute !important;
    top: 70px;
    left: 0;
    right: 0;
    z-index: 0 !important;
    padding: 52px 40px;
    transition: transform ease-in-out 0.2s;
    transform: translate3d(0, -100vh, 0);
  }
}
.header__menu-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
@media (max-width: 1400px) {
  .header__menu-nav {
    gap: 8px 24px;
    max-width: 630px;
    justify-content: space-between;
  }
}
@media (max-width: 992px) {
  .header__menu-nav {
    max-width: 524px;
  }
}
@media (max-width: 840px) {
  .header__menu-nav {
    flex-direction: column;
    gap: 80px;
    max-width: none;
  }
}
.header__menu-nav-link {
  flex: 0 0 auto;
  padding: 4px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  color: #000;
  border-bottom: 2px solid #dedede;
  transition: all ease-in-out 0.1s;
}
@media (max-width: 1400px) {
  .header__menu-nav-link {
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .header__menu-nav-link {
    font-size: 14px;
  }
}
@media (max-width: 840px) {
  .header__menu-nav-link {
    padding: 2px 0;
  }
}
.header__menu-nav-link:hover {
  border-bottom-color: #31d3bc;
}
.header__burger {
  flex: 0 0 auto;
  display: none;
}
@media (max-width: 840px) {
  .header__burger {
    display: block;
  }
}
.header__burger-button {
  padding: 0 0 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #000;
  border: none;
  border-bottom: 2px solid #dedede;
  background: none;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 576px) {
  .header__burger-button {
    padding: 0;
    font-size: 14px;
  }
}
.header__burger-button:hover {
  border-bottom-color: #31d3bc;
}
.header__login {
  flex: 0 0 auto;
}
@media (max-width: 576px) {
  .header__login {
    display: none;
  }
}
.header__login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  padding: 10px 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  color: #000;
  border: 2px solid #dedede;
  border-radius: 16px;
  background-color: #ffffff;
  transition: all ease-in-out 0.1s;
  cursor: pointer;
}
@media (max-width: 1400px) {
  .header__login-button {
    min-height: 48px;
    font-size: 18px;
  }
}
@media (max-width: 992px) {
  .header__login-button {
    min-height: 42px;
    font-weight: 500;
    font-size: 14px;
  }
}
.header__login-button:hover {
  border-color: #31d3bc;
  color: #31d3bc;
}
.header__login-button:active {
  transform: scale(0.98);
}

.first-screen {
  padding: 50px 0;
}
@media (max-width: 992px) {
  .first-screen {
    padding: 28px 0;
  }
}
@media (max-width: 576px) {
  .first-screen {
    padding: 24px 0;
  }
}
.first-screen .container {
  display: flex;
  align-items: center;
  gap: 40px;
}
@media (max-width: 768px) {
  .first-screen .container {
    flex-direction: column;
    gap: 72px;
  }
}
@media (max-width: 576px) {
  .first-screen .container {
    gap: 20px;
  }
}
.first-screen__content {
  flex: 0 0 640px;
}
@media (max-width: 1400px) {
  .first-screen__content {
    flex: 0 0 500px;
  }
}
@media (max-width: 992px) {
  .first-screen__content {
    flex: 0 0 436px;
  }
}
@media (max-width: 840px) {
  .first-screen__content {
    flex: 0 1 auto;
  }
}
.first-screen__title {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 54px;
  line-height: 130%;
  color: #2a2a2a;
}
@media (max-width: 1400px) {
  .first-screen__title {
    font-size: 44px;
  }
}
@media (max-width: 992px) {
  .first-screen__title {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .first-screen__title {
    font-size: 54px;
  }
}
@media (max-width: 576px) {
  .first-screen__title {
    margin: 0 0 20px;
    font-size: 24px;
  }
}
.first-screen__description {
  margin: 0 0 40px;
}
@media (max-width: 576px) {
  .first-screen__description {
    margin: 0 0 20px;
  }
}
@media (max-width: 576px) {
  .first-screen__connect {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.first-screen__figure {
  padding: 54px 40px;
}
@media (max-width: 840px) {
  .first-screen__figure {
    padding: 36px 20px;
  }
}
@media (max-width: 576px) {
  .first-screen__figure {
    padding: 26px 20px;
  }
}
.first-screen__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}

.assistants {
  padding: 100px 0;
}
@media (max-width: 992px) {
  .assistants {
    padding: 58px 0;
  }
}
@media (max-width: 768px) {
  .assistants {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .assistants {
    padding: 40px 0;
  }
}
.assistants .container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 576px) {
  .assistants .container {
    gap: 20px;
  }
}
.assistants__title {
  flex: 1 1 auto;
  max-width: 640px;
}
.assistants__text {
  flex: 0 0 calc(50% - 20px);
}
@media (max-width: 768px) {
  .assistants__text {
    flex: 1 1 auto;
  }
}

.advantages {
  padding: 100px 0;
}
@media (max-width: 992px) {
  .advantages {
    padding: 58px 0;
  }
}
@media (max-width: 768px) {
  .advantages {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .advantages {
    padding: 40px 0;
  }
}
.advantages__title {
  margin: 0 0 80px;
  text-align: center;
}
@media (max-width: 992px) {
  .advantages__title {
    margin: 0 0 60px;
  }
}
@media (max-width: 768px) {
  .advantages__title {
    margin: 0 0 40px;
  }
}
.advantages__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 52px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (max-width: 992px) {
  .advantages__list {
    gap: 28px;
  }
}
@media (max-width: 768px) {
  .advantages__list {
    gap: 12px;
  }
}
@media (max-width: 576px) {
  .advantages__list {
    gap: 16px;
  }
}
.advantages__list-item {
  position: relative;
  padding: 20px 40px;
  line-height: 180%;
  border-radius: 48px;
  background: linear-gradient(90deg, #31d3bc 0%, #28d6dd 49.5%, #3cb2d0 100%);
}
@media (max-width: 992px) {
  .advantages__list-item {
    padding: 16px 32px;
  }
}
@media (max-width: 768px) {
  .advantages__list-item {
    display: flex;
    align-items: center;
    gap: 16px;
    flex: 1 1 100%;
    padding: 0;
    background: none;
  }
}
.advantages__list-item::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  z-index: 0;
  border-radius: 48px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .advantages__list-item::before {
    position: static;
    flex: 0 0 auto;
    display: block;
    width: 32px;
    height: 32px;
    background: url(../assets/item.svg) center no-repeat;
  }
}
@media (max-width: 576px) {
  .advantages__list-item::before {
    width: 24px;
    height: 24px;
    background-size: cover;
  }
}
.advantages__list-item > * {
  position: relative;
  z-index: 1;
}
@media (max-width: 768px) {
  .advantages__list-item > * {
    position: static;
  }
}

.new-level {
  padding: 100px 0;
  background-color: #3bb4d1;
}
@media (max-width: 992px) {
  .new-level {
    padding: 58px 0;
  }
}
@media (max-width: 768px) {
  .new-level {
    padding: 70px 0;
  }
}
@media (max-width: 576px) {
  .new-level {
    padding: 40px 0;
  }
}
.new-level__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  max-width: 866px;
  margin: 0 auto;
}
@media (max-width: 1400px) {
  .new-level__content {
    max-width: 734px;
  }
}
@media (max-width: 992px) {
  .new-level__content {
    max-width: 594px;
  }
}
@media (max-width: 768px) {
  .new-level__content {
    max-width: none;
  }
}
@media (max-width: 576px) {
  .new-level__content {
    gap: 20px;
  }
}
.new-level__title {
  color: #ffffff;
  text-align: center;
}
.new-level__description {
  color: #ffffff;
  text-align: center;
}
.new-level__connect {
  display: flex;
  align-items: center;
  justify-content: center;
}