@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root-ui_regular.woff2') format('woff2'),
    url('../fonts/pt-root-ui_regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root-ui_medium.woff2') format('woff2'),
    url('../fonts/pt-root-ui_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PT Root UI';
  src: url('../fonts/pt-root-ui_bold.woff2') format('woff2'),
    url('../fonts/pt-root-ui_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  font-size: 16px;
  font-family: 'PT Root UI', sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: $black;
  background-color: $white;
}

a,
button,
input,
textarea {
  font-family: 'PT Root UI', sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.h2 {
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  color: #2a2a2a;

  @include desktop {
    font-size: 40px;
  }

  @include laptop {
    font-size: 32px;
  }

  @include tablet {
    font-size: 48px;
  }

  @include mobile {
    font-size: 20px;
  }
}

.t-26 {
  margin: 0;
  font-weight: 400;
  font-size: 26px;
  line-height: 150%;
  color: #2a2a2a;

  @include desktop {
    font-size: 22px;
  }

  @include laptop {
    font-size: 18px;
  }

  @include tablet {
    font-size: 26px;
  }

  @include mobile {
    font-size: 16px;
  }
}

.t-20 {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #2a2a2a;

  @include desktop {
    font-size: 18px;
  }

  @include laptop {
    font-size: 14px;
  }

  @include tablet {
    font-size: 20px;
  }

  @include mobile {
    font-size: 14px;
  }
}

.section {
  padding: 100px 0;

  @include laptop {
    padding: 58px 0;
  }

  @include tablet {
    padding: 70px 0;
  }

  @include mobile {
    padding: 40px 0;
  }
}
