.contact-us {
  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    max-width: 866px;
    margin: 0 auto;

    @include desktop {
      max-width: 734px;
    }

    @include laptop {
      max-width: 594px;
    }

    @include tablet {
      max-width: none;
    }

    @include mobile {
      gap: 20px;
    }
  }

  &__title {
    text-align: center;
  }

  &__description {
    text-align: center;
  }

  &__connect {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
